prune mr_util
include alm.h
include mr_util/math/fft1d.h
include mr_util/math/fft.h
include mr_util/infra/threading.h
include mr_util/infra/mav.h
include mr_util/math/math_utils.h
include mr_util/infra/aligned_array.h
include mr_util/math/gl_integrator.h
include mr_util/infra/simd.h
include mr_util/math/cmplx.h
include mr_util/infra/string_utils.h
include mr_util/infra/timers.h
include mr_util/math/constants.h
include mr_util/math/unity_roots.h
include mr_util/math/es_kernel.h
include mr_util/infra/error_handling.h
include mr_util/infra/useful_macros.h
include mr_util/bindings/pybind_utils.h
include mr_util/sharp/sharp.h
include mr_util/sharp/sharp_internal.h
include mr_util/sharp/sharp_geomhelpers.h
include mr_util/sharp/sharp_almhelpers.h
include mr_util/infra/threading.cc
include mr_util/infra/string_utils.cc
include mr_util/sharp/sharp.cc
include mr_util/sharp/sharp_core.cc
include mr_util/sharp/sharp_core_inc.cc
include mr_util/sharp/sharp_geomhelpers.cc
include mr_util/sharp/sharp_almhelpers.cc
include mr_util/sharp/sharp_ylmgen.cc
include demo.py
