prune mr_util
prune libsharp2
include mr_util/fft1d.h
include mr_util/threading.h
include mr_util/math_utils.h
include mr_util/aligned_array.h
include mr_util/gl_integrator.h
include mr_util/simd.h
include mr_util/cmplx.h
include mr_util/string_utils.h
include mr_util/timers.h
include mr_util/constants.h
include mr_util/unity_roots.h
include mr_util/error_handling.h
include mr_util/useful_macros.h
include mr_util/pybind_utils.h
include libsharp2/sharp.h
include libsharp2/sharp_internal.h
include libsharp2/sharp_geomhelpers.h
include libsharp2/sharp_almhelpers.h
include mr_util/threading.cc
include mr_util/string_utils.cc
include libsharp2/sharp.cc
include libsharp2/sharp_core.cc
include libsharp2/sharp_core_inc.cc
include libsharp2/sharp_geomhelpers.cc
include libsharp2/sharp_almhelpers.cc
include libsharp2/sharp_ylmgen.cc
