prune mr_util
prune libsharp2
include mr_util/threading.cc
#include mr_util/geom_utils.cc
#include mr_util/pointing.cc
include mr_util/string_utils.cc
#include mr_util/space_filling.cc
include libsharp2/sharp.h
include libsharp2/sharp_internal.h
include libsharp2/sharp.cc
include libsharp2/sharp_core.cc
include libsharp2/sharp_core_inc.cc
include libsharp2/sharp_geomhelpers.cc
include libsharp2/sharp_almhelpers.cc
include libsharp2/sharp_geomhelpers.h
include libsharp2/sharp_almhelpers.h
include libsharp2/sharp_ylmgen.cc
include mr_util/fft1d.h
#include mr_util/mav.h
include mr_util/threading.h
include mr_util/math_utils.h
include mr_util/aligned_array.h
#include mr_util/space_filling.h
include mr_util/gl_integrator.h
include mr_util/simd.h
#include mr_util/rangeset.h
include mr_util/cmplx.h
include mr_util/string_utils.h
#include mr_util/geom_utils.h
include mr_util/timers.h
#include mr_util/pointing.h
#include mr_util/vec3.h
include mr_util/constants.h
include mr_util/unity_roots.h
include mr_util/error_handling.h
include mr_util/useful_macros.h
