prune mr_util
prune Healpix_cxx
include mr_util/mav.h
include mr_util/math_utils.h
include mr_util/space_filling.h
include mr_util/rangeset.h
include mr_util/string_utils.h
include mr_util/geom_utils.h
include mr_util/pointing.h
include mr_util/vec3.h
include mr_util/constants.h
include mr_util/error_handling.h
include Healpix_cxx/healpix_base.h
include Healpix_cxx/healpix_tables.h
include mr_util/geom_utils.cc
include mr_util/pointing.cc
include mr_util/string_utils.cc
include mr_util/space_filling.cc
include Healpix_cxx/healpix_base.cc
include Healpix_cxx/healpix_tables.cc
